<footer class="mt-auto py-3 text-center">
  <!-- analytics temporarily disabled -->
  <!-- <script defer src="https://cloud.umami.is/script.js" data-website-id="58ab1bb0-689a-4187-b376-9125138843b9"></script> -->

  <small class="text-muted mb-2">
    <i class="fas fa-code"></i> with <i class="fas fa-heart"></i>
    by <strong>{{ site.author.name }}</strong>
  </small>

  <!-- {% include social.html %} -->

  {%- assign theme_name = "portfolYOU" -%}
  {%- assign theme_repo = "https://github.com/YoussefRaafatNasry/portfolYOU" -%}
  <small id="attribution">
    theme <a href="{{ theme_repo }}">{{ theme_name }}</a>
  </small>
</footer>
